<a href="https://colab.research.google.com/github/karthikkumbha/python-programs/blob/main/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Accept input from user and store it in variable and print the value
a=100
b=200
c=int(input())
d=int(input())
f=a-(b)-(c)-(d)
print(f)

20
30
-150

In [ ]:
#Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
for r in range(101,200,2):
  print(r)

101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [ ]:
#Take 2 numbers as user input and add, multiply, divide, subtract, remainder
a=int(input("enter the number 1 "))
b=int(input("enter the number 2 "))
sum=a+b
print(sum)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
subtract=a-b
print(subtract)

enter the number 1 12
enter the number 2 2
14
24
6.0
10

In [ ]:
#Compute compound interest using loop for a certain principal and interest amount
n=int(input("enter the amount"))
rate=int(input("enter the rate"))
years=int(input("enter the number of years"))
n=n+((n*rate)/100)
print(n)

enter the amount10000
enter the rate3
enter the number of years5
10300.0

In [ ]:
#Accepting 5 different subject marks from user and displaying the grade of the studen
a=int(input("enter the maths marks "))
b=int(input("enter the physics marks "))
c=int(input("enter the chemistry marks "))
d=int(input("enter the python marks "))
e=int(input("enter the social marks "))
if(a+b+c+d+e)>=450:
   print("A grade")
elif(a+b+c+d+e)>=400 and (a+b+c+d+e)<=450:
     print("B grade")
else:

  print("C grade")

enter the maths marks 93
enter the physics marks 90
enter the chemistry marks 97
enter the python marks 78
enter the social marks 98
A grade

In [ ]:
#Conversion of one unit to another
a=float(input("enter hours"))
print("minutes are",a*60)

enter hours3
minutes are 180.0

In [ ]:
#Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
import math
a=float(input("enter a number"))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.trunc(a))
print(math.sqrt(a))
b=float(input("enter a number:"))
c=float(input("enter a number:"))
print(math.fmod(b,c))
print(math.pow(b,c))

enter a number50
50
50
50.0
50
7.0710678118654755
enter a number:60
enter a number:70
60.0
2.9552044145476814e+124

**Building a mathematical calculator**

In [4]:

def add(num1, num2):
	return num1 + num2

def subtract(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2
 
def divide(num1, num2):
	return num1 / num2

print("Please select operation -\n" \
		"1. Add\n" \
		"2. Subtract\n" \
		"3. Multiply\n" \
		"4. Divide\n")

select = int(input("Select operations form 1, 2, 3, 4 :"))

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

if select == 1:
	print(number_1, "+", number_2, "=",
					add(number_1, number_2))

elif select == 2:
	print(number_1, "-", number_2, "=",
					subtract(number_1, number_2))

elif select == 3:
	print(number_1, "*", number_2, "=",
					multiply(number_1, number_2))

elif select == 4:
	print(number_1, "/", number_2, "=",
					divide(number_1, number_2))
else:
	print("Invalid input")

Please select operation -
1. Add
2. Subtract
3. Multiply
4. Divide

Select operations form 1, 2, 3, 4 :4
Enter first number: 10
Enter second number: 2
10 / 2 = 5.0