<a href="https://colab.research.google.com/github/karthikkumbha/python-programs/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
karthik=['Red','Green','White','Black', 'Pink', 'Yellow']
karthik=[r for (g,r) in enumerate (karthik) if g not in (0,4,5)]
print(karthik)

['Green', 'White', 'Black']

In [11]:
##Create a function which accepts two inputs from the user and compute n
def nCr(d,o):
  return(fact(d)/(fact(o)
                 *fact(d-o)))
d=int(input(""))
o=int(input(""))
def fact(d):
    res=1
    for i in range(2,d+1):
      res=res*i
    return res  
print(int(nCr(d,o)))

5
5
1

In [16]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
karthik=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("original list:"+str(karthik))
k = int(input("Enter the length of tuples you want to eliminate: "))
fin=[]
for i in range(0,len(karthik)):
   if len(karthik[i]) !=k:
    fin.append(karthik[i])

print("Filtered list:"+str(fin))

original list:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Enter the length of tuples you want to eliminate: 2
Filtered list:[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [24]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
K=int(input("enter the number: "))
d=dict()
for x in range(1,k+1):
   d[x]=x*x
print(d)

enter the number: 3
{1: 1, 2: 4}

In [24]:
#