<a href="https://colab.research.google.com/github/karthikkumbha/python-programs/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
friend=("ganesh","sailendra","afzal")
print(friend)
print(len(friend))
print(type(friend))

('ganesh', 'sailendra', 'afzal')
3
<class 'tuple'>


#Create Tuple With One Item

In [9]:
friend=("ganesh",)
print(type(friend))

<class 'tuple'>

In [10]:
friend1=("ganesh","sailendra","afzal","dhanyu")
friend2=("uday","jayanth","nagesh")
friend3=("sagar","sailendra","afzal")
print(friend1)
print(friend2)
print(friend3)

('ganesh', 'sailendra', 'afzal', 'dhanyu')
('uday', 'jayanth', 'nagesh')
('sagar', 'sailendra', 'afzal')

In [11]:
friend=("ganesh","1","sailendra","afzal","dhanyu")
print(friend)

('ganesh', '1', 'sailendra', 'afzal', 'dhanyu')

In [13]:
friend=tuple(("ganesh","sailendra","afzal","dhanyu"))
print(friend)

('ganesh', 'sailendra', 'afzal', 'dhanyu')

# Access Tuple Items

In [15]:
friend=("ganesh","sailendra","afzal")
print(friend[1])

sailendra

In [16]:
friend=("ganesh","sailendra","afzal")
print(friend[-1])

afzal

In [19]:
friend=("ganesh","sailendra","afzal")
print(friend[0:1])

('ganesh',)

In [20]:
friend=("ganesh","sailendra","afzal")
print(friend[:2])

('ganesh', 'sailendra')

In [21]:
friend=("ganesh","sailendra","afzal")
print(friend[2:])

('afzal',)

In [23]:
friend=("ganesh","sailendra","afzal")
print(friend[-2:-1])

('sailendra',)

In [29]:
friend=("ganesh","sailendra","afzal")
if "afzal" is friend:
       print("yes, 'afzal' is  myfriend")

**Update** **Tuples**

In [30]:
friend=("ganesh","sailendra","afzal")
y=list(friend)
y[1]='dhanyu'
friend=tuple(y)
print(friend)

('ganesh', 'dhanyu', 'afzal')

In [32]:
friend=("ganesh","sailendra","afzal")
y=list(friend)
y.append("dhanyu bokka")
friend=tuple(y)

In [36]:
friend=("ganesh","sailendra","afzal")
y=("dhanyu",)
friend+= y
print(friend)

('ganesh', 'sailendra', 'afzal', 'dhanyu')

In [37]:
friend=("ganesh","sailendra","afzal")
y = list(friend)
y.remove("sailendra")
friend = tuple(y)

**unpack**

In [39]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [40]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [41]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

**Loop Tuples**

In [42]:
friend=("sai","ganesh","sai")
for x in friend:
  print(x)

sai
ganesh
sai

In [44]:
friend=("sai","ganesh","sai")
for i in range(len(friend)):
    print(friend[i])

sai
ganesh
sai

In [47]:
friend=("sai","ganesh","sai")
i = 0
while i < len(friend):
  print(friend[i])
  i= i+1

sai
ganesh
sai

**Join Tuples**

In [48]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [49]:
friend=("sai","ganesh","sai")
mytuple = friend*2
print(mytuple)

('sai', 'ganesh', 'sai', 'sai', 'ganesh', 'sai')